html, body {
  background: #F2EFE8;
  color: white;
}

.header {
  background: white;
  top: 0;
  z-index: 100;
}

.main {
  margin-top: 15vh;
}

button {
  background: #BFBEBC;
  border-radius: 100%!important;
  color: white;
  margin-right: 10px;
  border: none;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  outline: none;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.icon-profil {
  display: flex;
  background: #B89FBF;
  padding: 10px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.assistant-wav-style {
  background: #E3D7E5;
  border-radius: 15px;
}

.user-wav-style {
  background: #F8F7F4;
  border-radius: 15px;
}

.footer {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: #E3D7E5;
  text-align: center;
}
